<!DOCTYPE html>

<html>

  <head>

    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      p { font-size: 20px; font-family: Georgia, serif; }  
      div { text-align: center; font-family: Georgia, serif; }
      table { font-size: 20px; font-family: Georgia, serif; } 
      td { color: #4E4E4E; width: 150px; }
    </style> 

  </head>
  
  <body>
    
    <div>
      <img src="/assets/logo.png" alt="iCats logo" />
      <br>
      <h1 style="color: #fbb710">Bonjour <%= @user.name %> <br> Merci pour votre commande sur icats !</h1>
      <br>
      <p>
        Voici votre récapitulatif de votre commande : 
      </p>

      <table align="center">
        <tr>
            <th><img src="/assets/4.jpeg" alt="iCats logo" style="width: 80px; height: 80px;" /></td>
            <td>kitty</td>
            <td>Le beau chat</td>
        </tr>
        <tr>
            <th><img src="/assets/4.jpeg" alt="iCats logo" style="width: 80px; height: 80px;" /></td>
            <td>kitty</td>
            <td>Le beau chat</td>
        </tr>

      </table>

      <br>
      <p> À bientôt sur iCats !</p>
      <br><br>

    </div>

    <div  style="font-size: 12px;" >
    Vous recevez ce mail car vous venez d'effectuer une commande sur iCats.fr. Le site qui a de jolies photos de petits chats.
    </div>
  
  </body>

</html>

