    <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>My profile</h2>
                        </div>





<!---------------------------------------------------------------------------------------------------->

                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                 <h4>My orders</h4>

                                    <tr>
                                        <th>Name</th>
                                        <th>Price</th>
                                    </tr>

                                 
                                <tbody>
                                    <% current_user.orders.each do |order| %>
                                        <% order.items.each do |item| %>
                                            <tr>
                                                <td class="cart_product_desc">
                                                    <h5><%= item.title %></h5>
                                                </td>
                                                <td class="price">
                                                    <span><%= item.price %> €</span>
                                                </td>
                                                <td class="qty">
                                                    <div class="qty-btn d-flex">
                                   

                                                  
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% end %>
                                    <% end %>
                                </tbody>






<!---------------------------------------------------------------------------------------------------->





         <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>

                             <h4>My infos</h4>

                                    <tr>
                                        <th>Adresse E-mail</th>
                                    </tr>


                                <tbody>

    								<tr>
                                      <td class="cart_product_img"> <%= current_user.email %> </td>   
                                    </tr>



                                </thead>
                                
                            </table>
                        </div>
                    </div>

</div>
                    </div>



                    <div class="col-12 col-lg-7">
                             
                            </ul>


<!---------------------------------------------------------------------------------------------------->
                          
                            <div class="cart-btn mt-1000">
                                <a href="<%=  edit_user_registration_path %>" class="btn amado-btn w-100">Update my infos</a> 	                

                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>







