    <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>Settings</h2>
                        </div>

                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                 <h4>Mes commandes passées</h4>

                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                    </tr>


                                        <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>€</th>
                                        <th>Quantity</th>
                                    </tr>

                                   



                                </thead>
                                <tbody>
                              
                                </tbody>
                            </table>
                        </div>


                        <div>
         <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>

                             <h4>Mes informations</h4>

                                    <tr>
                                        <th></th>
                                        <th>Adresse E-mail</th>
                         
                                    </tr>

    								<tr>
                                        <th></th>
                                        <th> <% current_user.email %> </th>                
                                    </tr>



                                </thead>
                                <tbody>
                              
                                </tbody>
                            </table>
                        </div>
                    </div>

</div>
                    </div>



                    <div class="col-12 col-lg-7">
                             
                            </ul>
                            <div class="cart-btn mt-1000">
                                <a href="<%=  edit_user_registration_path %>" class="btn amado-btn w-100">Modifier mes informations</a> 	                

                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



